*.gprj linguist-vendored
*.gprj.user linguist-vendored

impl/** linguist-vendored

*.v linguist-language=Verilog
*.vh linguist-language=Verilog
*.vhd linguist-language=VHDL
*.sv linguist-language=SystemVerilog
